
.gridworld{
    width: 70%;
    height: 35%;
    border: solid 1px #999999;
}

.svg-container{
    height: 50%;
    width: 100%;
}

.activated{
    background-color: #008800;
}

.deactivated{
    background-color: #00880077;
}

.inline-blocks{
    display: inline-block;
}

.SApanel{
    vertical-align: top;
    width: 30%;
}

.Invisible{
    display: none;
}

label{
    margin-right: 10px;
}